<!DOCTYPE html>
<html>

  <head><meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <h1><%= title %></h1>
    <h2><% data.length %> </h2>
    <table>
      <tr>
        <th>Titulo</th>
        <th>Isbn</th>
        <th>Paginas</th>
        <th>Fecha Publicación</th>
        <th>Descripción</th>
        <th>Portada</th>
        <th>Status</th>
        <th>Autores</th>
        <th>Categorías</th>
      </tr>
      <% data.forEach(function(el) { %>
        <tr>
          <td>
            <%= el.title %>
          </td>
          <td>
            <%= el.isbn %>
          </td>
          <td>
            <%= el.pageCount %>
          </td>
          <td>
            <%= el.publishedDate %>
          </td>
          <td>
            <%= el.shortDescription %>
          </td>
          <td>
            <img src= <%= el.thumbnailUrl %> alt="img" width="100">
          </td>
          <td>
            <%= el.status %>
          </td>
          <td>
            <%= el.authors %>
          </td>
          <td>
            <%= el.categories %>
          </td>
        </tr>
        <% }) %>
    </table>

  </body>
</html>



<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <script src="" async defer></script>
  </body>
</html>